* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h2 {
    font-family: 'Oswald';
    font-size: 2.2rem;
    margin: 0;

    span {
        font-weight: 400;
    }
}

//  "READ MORE" text in header, section2 & section7
.read-more {
    font-weight: 600;
    font-size: 1rem !important;
    letter-spacing: -.02em;
}