@import '../fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section {
    margin-top: 2rem;
}
a {
    text-decoration: inherit;
    color: inherit;
}
h2 {
    font-family: 'Oswald';
    font-size: 2.2rem;
    margin: 0;

    span {
        font-weight: 400;
    }
}
section:nth-child(1),
section:nth-child(2),
section:nth-child(4),
section:nth-child(6),
section:nth-child(7) {
    width: 87%;
    margin: auto;
}
.s1, .s6 {
    width: 100%;
    padding: 1rem;
}
.s1-grp, .s6-grp {
    line-height: 1.6em;
    width: 50%;
}
.s1-grp i:nth-child(2), .s1-grp i:nth-child(3),
.s1-grp i:nth-child(4), .s1-grp i:nth-child(5),
.s6-grp i:nth-child(2), .s6-grp i:nth-child(3),
.s6-grp i:nth-child(4), .s6-grp i:nth-child(5) {
    font-size: 1.1rem;
    margin: 1.5rem .5rem .5rem;
}

.read-more {
    font-weight: 600;
    font-size: 1rem !important;
    letter-spacing: -.02em;
}
.s1 {
    @include flex(flex-end, center);
}
.s1-grp {
    text-align: right;
}

// SECTION2  SECTION2  SECTION2  

.gallery-flex {
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
}

.s2-div1,
.s2-div2,
.s2-div4,
.gallery,
.s2-div5 {

        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
}
.gallery{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    width:  100%;
    @include flexCol(center, center);

    i {
        font-size: 2.4rem;
    }
    p{
        font-size: 1rem;
        font-weight: 77700;
        
    }
}
.s2-div1 {
    background-image: url(../../../public/img/portrait1.jpeg);
    background-size: 180%;
} .s2-div2 {
    background-image: url(../../../public/img/couronne.jpeg);
    background-size: 180%;
} .s2-div4 {
    background-image: url(../../../public/img/salon.jpeg);
    background-size: 180%;
} .s2-div5 {
    background-image: url(../../../public/img/pagne.jpeg);
    background-size: 144%;
}

// SECTION3    SECTION3    SECTION3    

.s3 {
    background-image: url(../../../public/img/bandeau-barbe.png);
    background-position: -30%;
    background-size: 110%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
}
.s3-txt {
    z-index: 2;
    padding: 5rem 0 5rem 5rem;
    width: 50%;
    height: 100%;
    @include flexCol(center, baseline);
    p {
        line-height: 1.4em;
        margin: 1rem 4rem 0 0;
        font-weight: 300;
    }
}
.s3-square {
    position: absolute;
    margin-top: 2%;
    left: 45%;
    height: 18vw;
    width:  14vw;
    background-color: $orange;
    z-index: 0s;
}

// SECTION4    SECTION4    SECTION4    

.s4 {
    margin: 0 0 0 5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vw 30vw;
    column-gap: .6rem;
    row-gap:    .6rem;
}
.s4-img1, .s4-img2, .s4-img3 {
    background-position: center;
}
.s4-img1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../../../public/img/micro-chelou.jpeg);
    background-size: 100%;
}
.s4-img2 {
    background-size: 200%;
    grid-column: 2;
    grid-row: 1;
    background-image: url(../../../public/img/vieux-couple.jpeg);
}
.s4-img3 {
    background-image: url(../../../public/img/peintre.jpeg);
    grid-column: 1 /span 2;
    grid-row: 2;
    background-size: 120%;
}
.s4-txt {
    grid-column: 3 /span 4;
    grid-row: 1 /span 2;
    padding: 0 2rem 0 2rem;
    p {
        line-height: 1.6em;
        font-weight: 300;
        padding: 2rem 0;
    }
}

.s4-square-contain {
    grid-column: 4 /span 5;
    grid-row: 2;
    @include flex (flex-end, flex-end);
}
.s4-square {
    height: 12vw;
    width:  10vw;
    background-color: $orange;
    z-index: -1;
}


// SECTION5    SECTION5    SECTION5    

.s5 {
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/img/bandeau-pigeon.png);
    background-position: center;
    background-size: 110%;
}
.s5-grp {
    @include flexCol (center, baseline);
    width: 60%;
    padding: 4rem 5%;
    h2 {
        line-height: 1.2em;
        padding-left: .6rem;
        span {
            display: block;
        }
    }
    p {
        padding: .6rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.6em;
        letter-spacing: .1em;
    }
}
.s5-imgs {
    @include flex (center, center);
    height: 50vh;
    width: 100%;
}
.s5-img1, .s5-img2 {
    width: 50%;
    height: 100%;
}
.s5-img1 {
    background-image: url('../../../public/img/voiture.jpeg');
    background-size: 110%;
}
.s5-img2 {
    background-image: url('../../../public/img/fenetre.jpeg');
    background-size: 160%;
    background-position: center;

}

//SECTION6     SECTION6     SECTION6      

.s6 {
    @include flex(flex-start, center);
}


// SECTION7    SECTION7    SECTION7    
.s7-div1,
.s7-div2,
.s7-div4,
.s7-div5 {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
}
.s7-div1 {
    background-image: url(../../../public/img/contreplongée2.jpeg);
    background-size: 220%;
} .s7-div2 {
    background-image: url(../../../public/img/fille-soda.jpeg);
    background-size: 135%;
} .s7-div4 {
    background-image: url(../../../public/img/contreplongée1.jpeg);
    background-size: 200%;
} .s7-div5 {
    background-image: url(../../../public/img/fusée.jpg);
    background-size: 120%;
}

// FOOTER     FOOTER     FOOTER     FOOTER      

footer {
    @include flex (center, center);
    background-color: black;
    color: white;
    font-size: .7rem;
    padding: 1em;
}
.foot-span {
    text-decoration: underline;
    color: bisque;
}

